<nav>
    <div class="sidebar-header">
      <a class="logo-wrapper">
        <img src="images/logo.svg" alt="Logo">
        <h2 class="hidden">LOGO</h2>
      </a>
      <button class="toggle-btn">
        <img src="images/expand.svg" alt="expand button">
      </button>
    </div>


    <div class="sidebar-links">
      <a class="link active">
        <img src="images/home.svg" alt="">
        <span class="hidden">Home</span>
      </a>
      <a class="link">
        <img src="images/projects.svg" alt="">
        <span class="hidden">Projects</span>
      </a>
      <a class="link">
        <img src="images/dashboard.svg" alt="">
        <span class="hidden">Dashboard</span>
      </a>
      <a class="link">
        <img src="images/tasks.svg" alt="">
        <span class="hidden">Tasks</span>
      </a>
    </div>


    <div class="sidebar-bottom">
      <div class="sidebar-links">
        <a class="link">
          <img src="images/settings.svg" alt="">
          <span class="hidden">Settings</span>
        </a>
      </div>

      <div class="user-profile">
        <div class="user-avatar">
          <img src="images/profile-pic.jpg" alt="">
        </div>
        <div class="user-details hidden">
          <p class="username">Jane Doe</p>
          <p class="user-email"></p>
        </div>
      </div>
    </div>
  </nav>