<!-- <header class="d-flex justify-content-between align-items-center gap-4"> -->
<!-- title
    name/title
    avatar name/title
    name/title avatar -->
<div class="d-flex gap-3">
    <div logo>
        Logo
    </div>
    <div product-name>
        <h2>Center Content</h2>
    </div>
</div>

<div>
    <div menu-icons class="d-flex gap-2">
        <fa-icon [icon]="['fas','bell']"></fa-icon>
        <fa-icon [icon]="['fas','table']"></fa-icon>
        <fa-icon [icon]="['fas','circle-question']"></fa-icon>
        <fa-icon [icon]="['fas','user']"></fa-icon>
    </div>
</div>
<!-- </header> -->