[bBtn] { 
    border-radius: 4px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    color: #fff; 
    background: #005288; 
    padding: 4px 16px; 
    height: 40px; 
    box-sizing: border-box; 
    border: 1px solid transparent;
    gap: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
    font-weight: 600;

    &:hover { 
        border-color: #005288;
        color: #005288;
        background: #fff;
    }

    &.success {  
        background: #029106; 
        border-color: #029106; 
        color: #fff; 
        &:hover { 
            border-color: #029106;
            color: #029106;
            background: #fff;
        }
    }
    &.error { 
        background: #ac0d01; 
        border-color: #ac0d01; 
        color: #fff; 

        &:hover { 
            border-color: #ac0d01;
            color: #ac0d01;
            background: #fff;
        }
    }
}