<div class="page-header d-flex px-3 justify-content-between align-items-center gap-4">
    <div class="d-flex gap-3 align-items-center">
        <ng-content select="[avatar-left]"></ng-content>
        <div class="d-flex flex-column gap-1">
            <h2><ng-content select="[header-title]"></ng-content></h2>
            <h5><ng-content select="[header-subtitle]"></ng-content></h5>
        </div>
    </div>
    <div class="d-flex gap-3 align-items-center">
        <div class="d-flex flex-column gap-1 text-end">
            <h5><ng-content select="[header-right-title]"></ng-content></h5>
            <ng-content select="[header-right-subtitle]"></ng-content>
        </div>
        <ng-content select="[avatar-right]"></ng-content>
    </div>
</div>